syskit:
  github:
    organizations:
      - unb-libraries
    authKey: adfadfaddfdasfsafasfsdfsdfss
    userName: Jacob Sanford
    userEmail: jsanford@unb.ca
  aws:
    defaultRegion: us-east-1
    keyId:
    secretKey:
  cyberman:
    awsSnsTopicId: "arn:aws:sns:us-east-1:344420214229:CyberMan"
  drupal:
    rest:
      password: password
      user: Jacob Sanford
  kubectl:
    bin: /snap/bin/kubectl
    config: /home/jsanford/.kube/config
  imaging:
    tesseractImage: unblibraries/tesseract:latest
    imagemagickImage: unblibraries/imagemagick:latest
