syskit:
  aws:
    defaultRegion: us-east-1
    keyId: XXXXXXXXXXXXX
    secretKey: XXXXXXXXXXXXXXXXXXXXXXXXXX
  cyberman:
    awsSnsTopicId: "arn:aws:sns:us-east-1:344420214229:CyberMan"
  drupal:
    rest:
      password: XXXXXXXXXXXXX
      user: XXXXXXXXXXXXX
    updates:
      ignoredProjects:
        - bootstrap_barrio
        - field_collection
      lockedProjects:
        bootstrap_barrio: 5.1.6
        drupal: 8.9.20
        geolocation: 8.x-3.8 # 3.9 Required 9.x core, breaks pmportal
        honeypot: 2.0.2 # Further versions require 9.x, breaks pmportal
        paragraphs: 8.x-1.13 # 1.14 Required 9.x core, breaks pmportal
        search_api: 8.x-1.23
        search_api_solr: 4.2.1
  github:
    organizations:
      - unb-libraries
    authKey: XXXXXXXXXXXXX
    userName: XXXXXXXXXXXXX
    userEmail: XXXXXXXXXXXXX
  imaging:
    tesseractImage: unblibraries/tesseract:latest
    imagemagickImage: unblibraries/imagemagick:latest
  jira:
    hostName: https://jira.lib.unb.ca
    userName: XXXXXXXXXXXXX
  kubectl:
    bin: /snap/bin/kubectl
    config: /home/jsanford/.kube/config
  updater:
    composer-apps:
      server.address.com:
       - /app1/location/
       - /app2/location/
